{% for post in paginator.posts %}
    {% if post.hidden != true %}
      <a href="{{ post.url }}">
      <li class="fadeInUp animated">
          {% if post.cover %}
          <img class="post-img" src="{{post.cover}}">
          {% endif %}
          <section class="post-preview">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% endif %}
              {% if post.subtitle.size==0 or post.subtitle==nil %}
              <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
              {% endif %}
          </section>
          <footer class="post-tags">
                {% if post.tags.size > 0 %}
                    {% for tag in post.tags  %}
                    <a href={{ "tags.html#" | append: tag | pretend: site.baseurl }} class="post-tag">{{ tag }}</a>
                    {% endfor %}
                {% endif %}
                <time class="post-date" datetime="{{ post.date | date:"%y-%m-%d" }}">{{ post.date | date_to_string }}</time>
          </footer>
      </li>
  </a>
    {% endif %}
{% endfor %}
