<!-- 博文的布局-Layout -->
<!DOCTYPE html>
<html>
<head>
    <!-- 引入head标签 -->
    {% include head.html %}
    {% include androidColor.html %}
    
</head>
<body>

<!-- 顶部锚点 -->
<a id="htmlup" name="htmlup"></a>
<!-- 引入博文顶部选项 -->
{% include post-header.html %}
<!-- 引入移动下拉选项 -->
{% include boot.html %}
<!-- 引入博文顶部样式 -->
{% include post-title.html %}
<div class="toc">
    <span>Toc</span>
    <nav id="toc"></nav>
</div>
<div class="markdown-body fadeInUp animated">

    {% if page.subtitle %}
    {% if page.color.size==0 or page.color==nil %}
    <div class="postpage-subtitle" style="border-left: 8px solid #9A85FF; border-right: 8px solid #9A85FF;">
        {{ page.subtitle }}
    </div>
    {% else %}
    <div class="postpage-subtitle"
         style="border-left: 8px solid {{ page.color }}; border-right: 8px solid {{ page.color }}">
        {{ page.subtitle }}
    </div>
    {% endif %}
    {% endif %}
    <img src="{{ page.cover }}" style="margin: 0 0 20px 0;">
    <!-- 文章内容 -->
    {{ page.content }}
    <!-- 引入share模块 -->
    {% include share.html %}
</div>

<!-- 底部锚点 -->
<a id="htmldown" name="htmldown"></a>
<!-- 引入评论模块 -->
{% include comment.html %}
<!-- 引入goto模块 -->
{% include goto.html %}
<!-- 引入页面底部模块 -->
{% include footer.html %}

<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
var wow = new WOW({
  boxClass: 'wow',
  animateClass: 'animated',
  // offset: 600,
  mobile: true,
  live: true
})
wow.init()
</script>
<!-- 页面刷新回到顶部 -->
<script>
window.onbeforeunload = function () {
  //刷新后页面自动回到顶部
  document.documentElement.scrollTop = 0  //ie下
  document.body.scrollTop = 0  //非ie
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/assets/css/bootstrap-toc.min.css">
<script src="/assets/js/bootstrap-toc.min.js"></script>
<script>
var navSelector = '#toc'
var $myNav = $(navSelector)

if (os.isAndroid || os.isPhone) {
  $myNav.parent().hide()
} else {
  $(function () {
    Toc.init($myNav)
    $('body').scrollspy({
      target: navSelector
    })
  })
}
</script>
<style type="text/css">

    nav[data-toggle=toc] .nav>li>a:focus,nav[data-toggle=toc] .nav>li>a:hover {
        padding-left: 19px;
        color: {{ page.color }};
        text-decoration: none;
        background-color: transparent;
        border-left: 1px solid {{ page.color }};
    }

    nav[data-toggle=toc] .nav-link.active, nav[data-toggle=toc] .nav-link.active:focus, nav[data-toggle=toc] .nav-link.active:hover {
        padding-left: 18px;
        font-weight: 700;
        color: {{ page.color }};
        background-color: transparent;
        border-left: 2px solid {{ page.color }};
    }

</style>
    {% include analytics.html %}
</body>
</html>
